<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <header>
        <nav>
            <div id="navdiv">
                <a href="https://www.google.com/gmail/about/#" class="c">Gmail</a>
                <a href="https://www.google.co.in/imghp?hl=en&tab=wi&ogbl" class="c">Images</a>
                 <div><img id="menuImg" src="../../assets/images/menu.png"></div> 
                <div><button type="submit" name="button">Sign In</button></div>
            </div>
        </nav>
    </header>
    <!-- Main body of google -->
    <main>
        <div class="googleImage" style="text-align: center;">
            <a href="#" id="google_logo"><img src="../../assets/images/Google_2015_logo.svg.png" /></a>
            <div>
                <div id="maindiv">
                    <span><img id="search" src="../../assets/images/search.png"></span>
                    <span id="inputspan"><input id="inputbar" type="text" name="search"></span>
                    <span><img id="mic" src="../../assets/images/mike.png"></span>
                </div>
            </div>
            <div>
                <section>
                    <div><button type="submit">Google Search</button></div>
                    <div><button type="submit">I'm feeling lucky</button></div>
                  </section>
            </div>
        </div>
        <div id="SIvCob">
          <span>Google offered in:</span>&nbsp;
          
            <a href="">हिन्द</a>ी&nbsp;
            <a href="">বাংলা</a>&nbsp;
            <a href="">తెలుగు</a>&nbsp;
            <a href="">मराठी</a>&nbsp;
            <a href="">தமிழ்</a>&nbsp;
            <a href="">ગુજરાતી</a>&nbsp;
            <a href="">ಕನ್ನಡ</a>&nbsp;
            <a href="">മലയാളം</a>&nbsp;
            <a href="">ਪੰਜਾਬੀ</a>
          
        </div>
    </main>

</body>

</html>